{% extends "LegoCatalogBundle::layout.html.twig" %}

{% block content %}
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="{{ path('home') }}">All products</a></li>
                <li><a href="{{ path('catalog', {'catalog': category.c_nameUrl}) }}">{{ category.c_name }}</a></li>
                <li>{{ data.name }}</li>
            </ol>
        </div>

    <div class="row">
        <div class="col-md-8"><h1 class="text-info">
                {{ data.name }}
                {% include "LegoCatalogBundle::Admin/buttons_products.html.twig" with { 'product_id' : data.id } %}
            </h1></div>
        <div class="col-md-4">
        {% for curr in currencies %}
            {% if curr.c_main == 1 %}
            <h1 class="currencies label label-success">{{ (data.price / curr.c_rate)|number_format(2, '.', ' ') }} {{ curr.c_nameShort }}</h1>
            {% else %}
            <h4 class="currencies label label-primary">{{ (data.price / curr.c_rate)|number_format(2, '.', ' ') }} {{ curr.c_nameShort }}</h4>
            {% endif %}
        {% else %}
        Price not defined
        {% endfor %}
        </div>
    </div>

    <hr>

    <div class="row">
        {% if images is defined %}
        <div class="col-md-6">
            <div id="carousel-product" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                {% for img in images %}
                    <li data-target="#carousel-product" data-slide-to="{{ loop.index0 }}"{% if loop.first %} class="active"{% endif %}></li>
                {% endfor %}
                </ol>

                <div class="carousel-inner">
                    {% for img in images %}
                    <div class="item{% if loop.first %} active{% endif %}">
                        <img src="holder.js/600x350/textmode:literal/text:{{ img.img }}" alt="lego #{{ data.id }}">

                    </div>
                    {% endfor %}
                </div>

                <a class="left carousel-control" href="#carousel-product" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-product" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>

            </div>

        </div>
        {% endif %}

        <div class="col-md-6">
            <h3>Description:</h3>
            <p>{{ data.description }}</p>

            {% if attributes is defined %}
            <h3>Attributes:</h3>
            <ul>
            {% for attr in attributes %}
                <li>{{ attr.pkey }}: {{ attr.pvalue }}</li>
            {% else %}
            <li>no ({{ loop.length }}) attributes set</li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>

    </div>

{% endblock %}

{% block js %}
<script src="{{ asset('js/holder.js') }}"></script>
{% endblock %}