{% extends "LegoCatalogBundle::layout.html.twig" %}

{% block content %}

    <h3>{{ title }}</h3>

    {% if data is defined %}
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for item in data %}
                {% if loop.index0 is odd %}
                <tr>
                {% endif %}
                    <td>#{{ item.c_id }}</td>
                    <td><a href="{{ path('manage_category_page', { 'category': item.c_nameUrl }) }}">{{ item.c_name }}</a></td>
                    <td>{{ item.c_description | slice(0, 50) }}...</td>
                    <td>{{ item.products }}</td>
                    <td>
                        <div class="btn-group btn-group-xs" role="group" aria-label="...">
                            <button type="button" class="btn btn-default btn-primary">Edit</button>
                            <button type="button" class="btn btn-default btn-danger">Drop</button>
                        </div>
                    </td>
                {% if loop.index0 is odd %}
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        <table>
    {% endif %}

{% endblock %}