{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
<a href="{{ path('manage_action', {'action':'edit', 'type':'category', 'id':category_id }) }}" type="button" class="btn btn-default btn-primary">
    <span class="glyphicon glyphicon-pencil"></span>
</a>
<a href="{{ path('manage_action', {'action':'drop', 'type':'category', 'id':category_id }) }}" type="button" class="btn btn-default btn-danger">
    <span class="glyphicon glyphicon-trash"></span>
</a>
{% endif %}