{% extends "LegoCatalogBundle::layout.html.twig" %}

{% block css %}
    <link href="{{ asset('css/Admin/login.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block menu_top %}{% endblock %}

{% block content %}

    {% if error %}
        <div class="text-danger">{{ error.message }}</div>
    {% endif %}

    <form class="form-signin" role="form" action="{{ path('login_check') }}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" name="_username" class="form-control" placeholder="Username" required autofocus>
        <input type="password" name="_password" class="form-control" placeholder="Password" required>
        <input type="hidden" name="_target_path" value="/admin" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

{% endblock %}