<!DOCTYPE html>
<html lang="en">
<head>
    <title>LEGO</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" media="screen">
    {% block css %}{% endblock %}
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
</head>

<body>

    {% block menu_top %}
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('home') }}"><strong>LEGO</strong></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li><a href="{{ path('catalogs') }}">Categories</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li><a href="{{ path('manage_catalog') }}">Summary</a></li>
                    <li><a href="{{ path('manage_action', {'action':'add', 'type':'category', 'id':'' }) }}">New Category</a></li>
                    <li><a href="{{ path('manage_action', {'action':'add', 'type':'product', 'id':'' }) }}">New Product</a></li>
                    <li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
                {% else %}
                    <li><a href="{{ path('login') }}"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                {% endif %}
                </ul>
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </div><!-- /.navbar -->
    {% endblock %}

    <div class="container">

        {% block content %}{% endblock %}

        <hr>

        <footer>
            <p class="text-muted"><small><span class="glyphicon glyphicon-copyright-mark"></span> LEGO 2014</small></p>
        </footer>
    </div>

    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    {% block js %}{% endblock %}
</body>
</html>
