{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{% extends "LegoCatalogBundle::layout.html.twig" %}

{% block content %}
<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>

        <div class="row">
            <div class="col-md-9">
                <div class="breadcrumbs">
                    <ol class="breadcrumb">
                        {% if cat is defined %}
                            <li><a href="{{ path('home') }}">All products</a></li>
                            <li class="active">{{ cat.c_name }}</li>
                        {% else %}
                            <li class="active">All products</li>
                        {% endif %}
                    </ol>
                </div>
            </div>
            <div class="col-md-3 text-right">
            {% if orderList is defined %}
                <div class="btn-group">
                    <button type="button" class="btn btn-default">Order products</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                    {% for key, value in orderList %}
                        <li><a href="{{ currentPath }}?sort={{ key }}">{{ value[0] }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
            </div>
        </div>

        {% if cat is defined %}
        <div class="well">
            <h1 class="text-info">{{ cat.c_name }} {% include "LegoCatalogBundle::Admin/buttons_categories.html.twig" with { 'category_id' : cat.c_id } %}</h1>
            {{ cat.c_description }}
        </div>
        {% endif %}

        {% if data_prod is defined %}
            {% for item in data_prod %}
            {% if loop.first %}
            <div class="row">
            {% endif %}
                <div class="col-6 col-sm-6 col-lg-4">
                    <h3><a href="{{ path('showProduct', {'name': item.p_nameUrl}) }}">{{ item.p_name }}</a></h3>
                    {% if item.img %}
                    <p class="thumbnail">
                        <img data-src="holder.js/262x150/random/text:{{ item.img }}">
                    </p>
                    {% endif %}
                    <p>
                        {% for curr in currencies %}
                        <span class="currencies label label-{% if curr.c_main == 1 %}success{% else %}primary{% endif %}">
                            {{ (item.p_price / curr.c_rate)|number_format(2, '.', ' ') }} {{ curr.c_nameShort }}
                        </span>
                        {% else %}
                        Price not defined
                        {% endfor %}
                    </p>
                    {% if cat is defined %}
                    <p>
                        <a href="{{ path('catalog', {'catalog': cat.c_nameUrl}) }}">{{ cat.c_name }}</a>
                    </p>
                    {% endif %}
                    <p>{{ item.p_description|length > 200 ? item.p_description|slice(0, 150) ~ '...' : item.p_description }}</p>
                    <p><a class="btn btn-default" href="{{ path('showProduct', {'name': item.p_nameUrl}) }}" role="button">
                            View details &raquo;</a>
                            {% include "LegoCatalogBundle::Admin/buttons_products.html.twig" with { 'product_id' : item.p_id } %}
                    </p>
                </div>
            {% if loop.last %}
            </div>
            {% elseif loop.index % 3 == 0 %}
            </div><div class="row">
            {% endif %}
            {% else %}
                <p class="bg-danger">No products found</p>
            {% endfor %}
        {% endif %}

        {% if pager_prod is defined and pager_prod.pagesTotal > 1 %}
        <ul class="pagination">
        {% for page in 1 .. pager_prod.pagesTotal %}
            <li{% if page == pager_prod.pageCurrent %} class="active"{% endif %}>
                {% if cat is defined %}
                <a href="{{ path('catalog', {'catalog': cat.c_nameUrl, 'page': page}) }}">{{page}}</a>
                {% else %}
                <a href="{{ path('home', {'page': page}) }}">{{page}}</a>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        {% endif %}

        {% if data_cat is defined %}
            {% for item in data_cat %}
            {% if loop.first %}
            <div class="row">
            {% endif %}
                <div class="col-6 col-sm-6 col-lg-4">
                    <h2><a href="{{ path('catalog', {'catalog': item.c_nameUrl}) }}">{{ item.c_name }}</a></h2>
                    <p>{{ item.c_description|length > 200 ? item.c_description|slice(0, 200) ~ '...' : item.c_description }}</p>
                    <p><a class="btn btn-default" href="{{ path('catalog', {'catalog': item.c_nameUrl}) }}" role="button">
                            View details &raquo;</a>
                            {% include "LegoCatalogBundle::Admin/buttons_categories.html.twig" with { 'category_id' : item.c_id } %}
                    </p>
                </div>
            {% if loop.last %}
            </div>
            {% elseif loop.index % 3 == 0 %}
            </div><div class="row">
            {% endif %}
            {% else %}
                <p class="bg-danger">No products found</p>
            {% endfor %}
        {% endif %}
        </div>

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <div class="list-group">
            {% for c in categories %}
                <a href="{{ path('catalog', {'catalog': c.c_nameUrl}) }}"
                   class="list-group-item{% if cat is defined and c.c_id == cat.c_id %} active{% endif %}">
                    {{ c.c_name }} <span class="label label-{% if c.products > 0 %}success{% else %}default{% endif %}">
                        {{ c.products }}</span></a>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}

{% block js %}
<script src="{{ asset('js/holder.js') }}"></script>
{% endblock %}